html,

body{
  height: 100%;
  width: 100%;
}

.card{
  background-color: aqua;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}



.nav{
  background-color: red;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
}

.Pocket{
  background-color: aliceblue;
  padding: 20px;

}