html,
body{
 
  width: 100%;
  background-color: black;
  padding: 30px;
}


.parent{
    height: 100%;
    width: 100%;
    background: #000;
    padding: 30px; 
}

.card{
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
}

.top image{
  width: 100px;
  height: 100px;
}



